/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	border: none;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}
nav .strong {
	font-weight: 700;
}
nav li a {
	text-decoration: none;
	color: inherit;
}
li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
/* Début de ma participation au CSS */
#filtres {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}
#filtres button {
	font-family: 'Syne';
	padding: 10px 15px;
	color: #1D6154;
	background-color: transparent;
	border: 1px solid #1D6154;
	border-radius: 30px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease-out;
}
#filtres button:hover {
	background-color: #1D6154;
	color: white;
}
.footer-absolute {
	position: absolute;
	bottom: 0;
	width: 70%;
}
/*ajout de la classe aux boutons*/
#filtres .button-highlight {
	background-color: #1D6154;
	color: white;
	pointer-events: none;
}
.display-none {
	display: none;
}
/*message d'erreur sur la login page */
#error-message {
	display: inline-block;
	font-family: 'Work Sans';
	font-size: 18px;
	font-weight: 700;
	color: red;
	transform: translateY(0);
	opacity: 0;
}
.message-appear {
	animation: messageAppear 0.3s ease-out forwards;
}
@keyframes messageAppear {
	from {
		transform: translateY(0);
		opacity: 0;
	}
	to {
		transform: translateY(40px);
		opacity: 1;
	}
}
.box-wrong {
	animation: boxWrong 0.3s linear forwards;
	transition: all 0.3s linear;
}
@keyframes boxWrong {
	0% {
		transform: translateX(0);
		color: red;
	}
	20% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(10px);
	}
	60% {
		transform: translateX(-10px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
		color: red;
	}
}

/* Place à la modale */
.modal-button {
	position: absolute;
	display: none;
	transform: translateX(50px);
}
.modal-button__link {
	text-decoration: none;
	color: black;
	font-family: 'Work Sans';
	font-weight: 100;
	font-size: 18px;
}
.modal-button__link:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
}

.modal-container {
	visibility: hidden;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.3);
}
.modal-container__back {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
}
#modal {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	margin: auto;
	z-index: 3;
	margin-top: 80px;
	height: 70%;
	min-height: 400px;
	width: 600px;
	background: white;
	border-radius: 10px;
	overflow: hidden;
}
#modal h2 {
	font-family: 'Work Sans';
	color: #000;
}
.modal__cross {
	display: block;
	position: absolute;
	z-index: 4;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: scale 0.2s ease-out;
}
.modal__cross:hover {
	scale: 1.2;
}
/* Première partie de la modale */
#modal__pics-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	padding: 60px 100px 45px 100px;
	height: 100%;
	width: 600px;
	transition: transform 0.3s ease-out;
}
.modal-move-left {
	transform: translateX(-600px);
}
#modal__image-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	gap: 17px;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 20px;
	overflow: auto;
	height: 400px;
}
.modal__image-wrapper {
	position: relative;
	height: 25%;
}
.modal__delete-button {
	position: absolute;
	background: black;
	border-radius: 2px;
	height: 20px;
	width: 20px;
	top: 3px;
	right: 3px;
	cursor: pointer;
	transition: scale 0.2s ease-out;
}
.modal__delete-button:hover {
	scale: 1.2;
}
.modal__delete-button svg {
	scale: 1.3;
	position: absolute;
	top: 5px;
	left: 5px;
}
#modal__image-container img {
	height: 100%;
	object-fit: contain;
}
.modal__separator {
	width: 100%;
	height: 2px;
	background: #B3B3B3;
}
.modal__addpic-button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 180px;
	padding: 18px 10px 18px 10px;
	margin : auto ;
	border-radius: 60px ;
	cursor: pointer;
}
/* Deuxième partie de la modale */
#modal__addpic-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	box-sizing: border-box;
	padding: 60px 100px 45px 100px;
	height: 100%;
	width: 600px;
	left: 600px;
	top: 0;
}
.modal__arrow-back {
	position: absolute;
	scale: 0.8;
	top: 10px;
	left: 10px;
	transition: scale 0.2s ease-out;
}
.modal__arrow-back:hover {
	scale: 1;
}
.form-add-work {
box-sizing: border-box;
width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
}
.form-pic-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	height: 170px;
	width: 100%;
	background: #E8F1F6;
	margin: 30px 0 20px 0;
}
#chosen-pic {
	position: absolute;
	height: 100%;
}
#choose-pic {
	position: absolute;
	height: 100%;
	width: 100%;
	appearance: none;
	opacity: 0;
}
.input-file-label {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 180px;
	padding: 10px 0;
	border-radius: 50px;
	background: #CBD6DC;
	color: #306685;
	font-weight: 700;
}
.form-add-work input, .form-add-work select {
	appearance: none;
	outline: none;
	position: relative;
	width: 100%;
	padding: 15px;
	margin: 10px 0 20px 0;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	box-sizing: border-box;
	border: none;
	font-family: 'Work Sans';
	font-size: 16px;
}
.svg-container {
	position: relative;
	width: 100%;
}
.select-svg {
	position: absolute;
	z-index: 5;
	bottom: 35px;
	right: 15px;
}




.gallery img {
	width: 100%;
}
#contact, #log-in {
	width: 50%;
	margin: auto;
}
#log-in a {
	margin: auto;
	color: #3D3D3D;
}
#contact, #log-in > * {
	text-align: center;

}
#contact h2, #log-in h2{
	margin-bottom: 20px;
}
#contact form, #log-in form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #log-in input {
	height: 50px;
	font-family: 'Work Sans';
	font-size: 1.2em;
	border: none;
	padding: 0 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #log-in label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	padding: 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #0E2F28;
}
input[type="submit"]:disabled {
	background: #A7A7A7;
	cursor: default;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

